html, body.landing-page {
  background-color: #F5F8FA;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}
.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.table-wrapper {
  max-height: 400px;
  overflow-y: scroll;
  margin-bottom: 40px;
}

.caption {
  .cont-desc {
    margin-bottom: 40px;
  }
  span.action-buttons {
    display: block;
    //position: absolute;
    //bottom: 30px;
    //right: 38px;
  }
}